.teamevalreport-responses-container table {
    margin-bottom: 10px;
    width: 100%;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
}

.teamevalreport-responses-container table thead th.group-name {
    border: 1px solid #888;
}

.teamevalreport-responses-container table thead th {
    background: #ddd;
    border-bottom: 1px solid #888;
    padding: 5px 7px;
}

.teamevalreport-responses-container table tbody th {
    background: #f8f8f8;
    border-right: 1px solid #888;
    padding: 5px 7px;
    white-space: nowrap;
}

.teamevalreport-responses-container table tbody td {
    padding: 5px 7px;
    border-right: 1px solid rgba(0,0,0,0.03);
}

.teamevalreport-responses-container table tbody tr:nth-child(even) td {
    background: rgba(0,0,0,0.05);
}

.teamevalreport-responses-container table tbody td:last-child {
    border-right: 1px solid #888;
}

.teamevalreport-responses-container .markees-title {
    font-size: 75%;
    background: none;
    border: 1px #ccc solid;
    height:1em;
    text-align: center;
    border-bottom: 1px solid #888;
}

.teamevalreport-responses-container .markers-title {
    font-size: 75%;
    border: 1px #ccc solid;
    padding: 0;
    width: 2em;
    border-right: 1px solid #888;
}

.teamevalreport-responses-container .markers-title svg {
    width: 2em;
    overflow: visible;
}

