<div class="teameval-template-title" id="template-title-{{uniqid}}">
        {{#editable}}
        <label>{{#str}} templatetitle, block_teameval_templates {{/str}} <input type="text" value="{{title}}" /></label>
        <button>{{#str}} save, local_teameval {{/str}}</button>
        {{/editable}}
        {{^editable}}
        <h3>{{title}}</h3>
        {{/editable}}
</div>
{{#editable}}
{{#js}}{{#_notset}}<script>{{/_notset}}
require(['jquery', 'core/ajax', 'core/notification'], function($, Ajax, Notification) {

        $('#template-title-{{uniqid}} input').on('input', function() {
                $('#template-title-{{uniqid}} button').prop('disabled', ($(this).val().trim().length == 0));
        });

        $('#template-title-{{uniqid}} button').click(function() {
                var title = $('#template-title-{{uniqid}} input').val().trim();

                if (title.length == 0) {
                        Notification.alert("{{#str}} emptytitle, block_teameval_templates {{/str}}");
                }

                var button = $(this);
                button.prop('disabled', true);

                var promises = Ajax.call([{
                        methodname: 'block_teameval_templates_update_title',
                        args: {
                                id: {{id}},
                                title: title
                        }
                }]);

                promises[0].done(function(newTitle) {
                        $('#template-title-{{uniqid}} input').val(newTitle);
                });

                promises[0].always(function() {
                        button.prop('disabled', false);
                });

                promises[0].fail(Notification.exception);

        });
});
{{/js}}
{{/editable}}
