.local-teameval-turn-on {
    text-align: center;
}

.local-teameval-turn-on button {
    font-weight: bold;
    font-size: 150%;
    padding: .75em 1em;
    margin: .5em;
}

.local-teameval-disabled {
    font-style: italic;
    color: #999;
    text-align: center;
    padding: 1em;
}

.local-teameval-container-heading {
    font-size: 150%;
    text-align: center;
    margin-bottom: 0;
}

.local-teameval-containerbox {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.02);
    margin:10px;
    padding:10px;
    position: relative;
}

    .local-teameval-containerbox .tabs {
        border-bottom: 1px solid #CCC;
        margin-bottom: 1em;
    }

    .local-teameval-containerbox .tabs ul {
        display: block;
        text-align: center;
        margin: 0;
    }

    .local-teameval-containerbox .tabs li {
        list-style: none;
        display: inline-block;
        padding: .7em 1em;
        cursor: pointer;
        z-index: 1;
        margin:0;
        font-size: 125%;
    }


    .local-teameval-containerbox .tab-content {
        display:none;
    }

    .local-teameval-containerbox .tab-content:first-of-type {
        display:block;
    }


.local-teameval-settings-button {
    position: absolute;
    top: 0px;
    right: 0px;
    border-top-right-radius: 9px;
    padding: 2px 5px;
    background-image:url([[pix:core|i/settings]]);
    padding-left: 23px;
    background-size: 16px 16px;
    background-position: 5px center;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: bold;
}

.local-teameval-settings-button:hover {
    background-color:#DDD;
}

.local-teameval-settings-container {
    background-color: rgba(250, 250, 250, 0.95);
    padding: 5px;
    border-radius: 10px;
    margin-bottom:10px;
    display: none;
}

    .local-teameval-settings-container th {
        text-align: right;
        font-weight: bold;
    }

.local-teameval-add-question a::before {
    content: url([[pix:core|t/add]]);
}

.local-teameval-question-dropdown {
    position:absolute;
    border: 1px solid black;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
    min-width: 200px;
}

.local-teameval-question-dropdown li {
    list-style: none;
    margin:0px;
    padding:5px;
    background-color: #FFF;
    cursor: pointer;
}

    .local-teameval-question-dropdown li:hover {
        background-color:#CCC;
    }

.local-teameval-template-search {
    margin: auto;
    width: 50%;
    text-align: center;
}

.local-teameval-template-search .template-add-preview {
    font-size: 80%;
    color: #777;
    font-style: italic;
}

.local-teameval-template-search .ui-autocomplete-loading {
    background: white url([[pix:core|i/loading_small]]) right center no-repeat;
}

li.local-teameval-template-search-result {
    text-align: left;
    list-style: none;
    background-color: white;
    border: 1px solid #999;
    padding: .5em;
    margin: 5px;
}

li.local-teameval-template-search-result .title {
    font-size: 110%;
    font-weight: bold;
}

li.local-teameval-template-search-result .subtitle {
    font-size: 80%;
    color: #999;
    font-style: italic;
}

.local-teameval-template-search input {
    width: 100%;
}

.local-teameval-questionnaire .deadline {
    font-size: 135%;
    font-weight: bold;
    text-align: center;
    color: #A00;
    margin-bottom: 0.5em;
}

.local-teameval-questionnaire .deadline time {
    text-decoration: underline;
}

.local-teameval-questionnaire .locked {
    color: #666;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
}

#local-teameval-questions {
    margin:0;
    margin-right:26px;
}

#local-teameval-questions .local-teameval-question {
    list-style: none;
    padding: 10px;
    margin-bottom: 5px;
    position: relative;
}

    #local-teameval-questions .local-teameval-question:hover {
        background-color:#FFF;
    }

        #local-teameval-questions .local-teameval-question:hover .local-teameval-question-actions {
            visibility: visible;
        }

    #local-teameval-questions .local-teameval-question.editing {
        background-color:#F9F9F9;
        border: 1px solid #2E4B87;
        border-radius: 5px;
    }

    #local-teameval-questions .local-teameval-question.incomplete {
        background-color: rgba(255, 100, 100, 0.1);
        border: 1px solid rgba(128, 60, 60, 0.8);
    }

    #local-teameval-questions .local-teameval-question.incomplete:hover {
        background-color: rgba(255, 100, 100, 0.05);
        border-color: rgba(200, 60, 60, 1.0);
    }

.local-teameval-question-actions {
    float:right;
    visibility: hidden;
}

    .local-teameval-question-actions img {
        cursor:pointer;
    }

        .local-teameval-question-actions .move img {
            cursor:move;
        }

.local-teameval-save-cancel-buttons {
    margin-top:10px;
}

.local-teameval-submit-buttons .results {
    display:none;
}

.local-teameval-submit-buttons .results.incomplete {
    color: #A00;
    font-weight: bold;
    background-color: rgba(200,128,128,0.3);
    border: 1px solid #A00;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.local-teameval-containerbox .collapsible.collapsed .collapsing {
    display: none;
}

.local-teameval-containerbox .collapsible.expanded .collapsing {
    display: block;
}

.local-teameval-containerbox .collapsible .collapsible-heading {
    font-size: 110%;
    margin: 0;
    cursor: pointer;
}

.local-teameval-containerbox .collapsible .collapsible-heading:before {
    vertical-align: middle;
}

.local-teameval-containerbox .collapsible.collapsed .collapsible-heading:before {
    content: url([[pix:t/collapsed]]);
}

.local-teameval-containerbox .collapsible.expanded .collapsible-heading:before {
    content: url([[pix:t/expanded]]);
}

.local-teameval-results-selector {
    text-align: center;
    font-size: 125%;
}

.local-teameval-release-container .release-all {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
}

.local-teameval-release-container .release-all-info {
    text-align: center;
}

.local-teameval-release-container .group header {
    margin: 10px 0;
}

    .local-teameval-release-container .group header h3 {
        margin: 0;
        margin-right: 10px;
        float: left;
    }

    .local-teameval-release-container .group header .group-grade {
        font-style: italic;
    }

    .local-teameval-release-container .group header .group-release-switch {
        font-weight: bold;
    }

.local-teameval-release-container .group table {
    width: 100%;
}

    .local-teameval-release-container .group table th {
        white-space: nowrap;
        padding-right: .5em;
    }

    .local-teameval-release-container .group tr:nth-child(even) td {
        background-color: rgba(0,0,0,0.025);
    }

.local-teameval-switch {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    border: 1px dotted #666;
    box-sizing: border-box;
    position: relative;
    transition: border 0.2s, background 0.2s, box-shadow 0.2s;
    -webkit-transition: border 0.2s, background 0.2s, box-shadow 0.2s;
}

    .local-teameval-switch.checked {
        border: 1px solid #333;
        background-color: rgb(59, 235, 59);
        box-shadow: rgb(25, 201, 25);
    }

    .local-teameval-switch.tristate.rejected {
        border: 1px solid #333;
        background-color: rgb(235, 59, 59);
        box-shadow: rgb(25, 201, 25);
    }

    .local-teameval-switch.overridden-checked {
        background-color:rgba(59, 235, 59, 0.1);
    }

    .local-teameval-switch.overridden-rejected {
        background-color:rgba(235, 59, 59, 0.1);
    }

.local-teameval-switch .toggle {
    background-color: #fff;
    border-color:#999;
    width: 13px;
    height: 13px;
    border-radius: 14px;
    box-shadow: 0 1px #ccc;
    top: 2px;
    left: 2px;
    position: absolute;
    transition: left 0.2s, background-color 0.4s;
    -webkit-transition: left 0.2s, background-color 0.4s;
    font-size: 18px;
    line-height: 50%;
    text-align: center;
}

    .local-teameval-switch.tristate .toggle {
        left: 16px;
    }

    .local-teameval-switch.tristate.rejected .toggle {
        left: 2px;
    }

    .local-teameval-switch.checked .toggle {
        left: 31px;
    }

    .local-teameval-switch.overridden-checked .toggle,
    .local-teameval-switch.overridden-rejected .toggle {
        background-color: #ccc;
    }

    .local-teameval-switch .toggle .loading-indicator {
        display: none;
    }

.local-teameval-switch .check,
.local-teameval-switch .reject {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 5px;
    stroke-width: 2;
}

.local-teameval-switch .check {
    stroke: green;
    left: 33px;
}


.local-teameval-switch .reject {
    stroke: red;
    left: 4px;
}

.local-teameval-switch.overridden-checked .reject path,
.local-teameval-switch.overridden-checked .check path,
.local-teameval-switch.overridden-rejected .reject path,
.local-teameval-switch.overridden-rejected .check path,
.local-teameval-switch.checked .reject path,
.local-teameval-switch.rejected .check path {
    stroke: #ccc;
    stroke-width: 1;
}


/*
this is stupidly generic. where am i using it?

.right {
    float: right;
}*/

.noncompletion-advice {
    text-align: center;
    color: #A00;
    font-weight: bold;
    padding: 0.5em;
}

/* template/addquestion */

.local-teameval-template-toolbox {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
}

.local-teameval-template-io {
    border-top: 1px solid #eee;
    padding: 10px;
    text-align: center;
}

/* template/feedback */

.local-teameval-feedback .results {
    text-align: center;
    font-size: 200%;
    padding: 10px;
}

.local-teameval-feedback .results .score {
    font-weight: bold;
}

.local-teameval-feedback .feedback > table {
    width: 100%;
}

.local-teameval-feedback .feedback > table th,
.local-teameval-feedback .feedback > table td {
    padding: 0.5em;
}

.local-teameval-feedback .feedback > table thead tr {
    border-bottom: 1px solid black;
}

.local-teameval-feedback .feedback > table tbody tr:nth-child(odd) {
    background-color: rgba(0,0,0,0.05);
}

.local-teameval-feedback .feedback > table tbody th {
    width: 20%;
    vertical-align: middle;
}

.local-teameval-feedback .feedback > table tbody td {
    width: 80%;
}

.local-teameval-containerbox .saved {
    padding: 10px;
    color: #393;
    background-color: #afa;
    border: 1px solid #393;
    border-radius: 5px;
    display: inline-block;
}
