.teamevalreport-scores-container table {
    border: 1px solid #888;
    margin-bottom: 10px;
    width: 100%;
}

.teamevalreport-scores-container table thead th {
    background: #ddd;
    border-bottom: 1px solid #888;
    padding: 5px 7px;
}

.teamevalreport-scores-container table tbody th {
    background: #f8f8f8;
    border-right: 1px solid #888;
    padding: 5px 7px;
}

.teamevalreport-scores-container table tbody td {
    text-align: right;
    padding: 5px 7px;
    border-right: 1px solid rgba(0,0,0,0.03);
}

.teamevalreport-scores-container table tbody tr:nth-child(even) td {
    background: rgba(0,0,0,0.05);
}

.teamevalreport-scores-container table tbody td:last-child {
    border-right: 1px solid #888;
}
