<h2 class="local-teameval-container-heading">{{#str}} pluginname, local_teameval {{/str}}</h2>
<div class="local-teameval-containerbox">
    <div class="local-teameval-disabled">
        {{#str}} teamevaldisabled, local_teameval {{/str}}
    </div>
</div>
