<div class="local-teameval-question-actions">
{{^locked}}<span class="move">{{#pix}} t/move, core, move question {{/pix}}</span>{{/locked}}
<span class="edit">{{#pix}} i/edit, core, edit question {{/pix}}</span>
{{^locked}}<span class="delete">{{#pix}} t/delete, core, delete question {{/pix}}</span>{{/locked}}
</div>
