<div class="local-teameval-save-cancel-buttons form-actions">
<button type="button" class="save btn btn-primary">{{#str}}save, local_teameval{{/str}}</button> <button type="button" class="cancel btn">{{#str}}cancel, core{{/str}}</button>
</div>
