<div id="question-content-{{uniqid}}">
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="question-title-{{uniqid}}">{{#str}}title, teamevalquestion_likert{{/str}}</label>
        <div class="controls">
            <input type="text" maxlength="255" id="question-title-{{uniqid}}" placeholder="Title" value="{{title}}" />
            <span class="help-inline"></span>
        </div> 
    </div>
    <div class="control-group">
        <label class="control-label" for="question-description-{{uniqid}}">{{#str}}description, teamevalquestion_likert{{/str}}</label>
        <div class="controls">
            <textarea id="question-description-{{uniqid}}">{{description}}</textarea>
            <span class="help-inline"></span>
        </div>
    </div>
    <div class="control-group">
        <span class="control-label">{{#str}}scorerange, teamevalquestion_likert{{/str}}</span>
        <div class="controls">
            From
                <select id="question-minval-{{uniqid}}" aria-label="question range minimum" {{#minval}}data-selected="{{minval}}"{{/minval}} {{#locked}}disabled="disabled"{{/locked}}>
                    <option value="0">0</option>
                    <option value="1" selected>1</option>
                </select>
            to
                <select id="question-maxval-{{uniqid}}" aria-label="question range maximum" {{#maxval}}data-selected="{{maxval}}"{{/maxval}} {{#locked}}disabled="disabled"{{/locked}}>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5" selected>5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
        </div>
    </div>
    <div class="control-group">
        <span class="control-label">{{#str}}meanings, teamevalquestion_likert{{/str}}</span>
        <div class="controls">
            <ol id="question-meanings-{{uniqid}}">
            {{#meanings}}
                <li value="{{value}}"><input type="text" value="{{meaning}}" /></li>
            {{/meanings}}
            </ol>
        </div>
    </div>
</form>
</div>
{{#js}}
{{#_notset}}<script type="text/javascript">{{/_notset}}
require(['jquery', 'core/ajax', 'core/notification'], function($, ajax, notification) {

    var questionContainer = $('#question-content-{{uniqid}}').closest('.question-container');

    var _meanings = {};

    var Strings = {};
    Strings['titleordescription'] = "{{#str}} titleordescription, teamevalquestion_likert {{/str}}";

    questionContainer.find('select[data-selected]').each(function() {
        $(this).val($(this).data('selected'));
    });

    function updateMeanings() {
        var minval = parseInt($('#question-minval-{{uniqid}}').val())
        var maxval = parseInt($('#question-maxval-{{uniqid}}').val());

        // fetch our current meanings
        $('#question-meanings-{{uniqid}} li').each( function(idx) {
            _meanings[this.value] = $(this).find('input').val();
        });

        {{^locked}}
        // make new textboxes

        $('#question-meanings-{{uniqid}}').empty();

        for(var i = minval; i <= maxval; i++) {
            var li = $('<li />');
            var textbox = $('<input type="text">');
            if(_meanings[i]) {
                textbox.val(_meanings[i]);
            }
            li.append(textbox);
            li.prop('value', i);
            $('#question-meanings-{{uniqid}}').append(li);
        }		
        {{/locked}}
    }

    function validateData(data) {
        var errors = {};
        if ((data.title.trim().length == 0) && (data.description.trim().length == 0)) {
            errors['title'] = Strings['titleordescription'];
            errors['description'] = Strings['titleordescription'];
        }
        return errors;
    }

    {{#_newquestion}} updateMeanings(); {{/_newquestion}}
    questionContainer.find('#question-minval-{{uniqid}}, #question-maxval-{{uniqid}}').change(updateMeanings);

    questionContainer.on("save", function(evt, ordinal) {
        updateMeanings();

        var deferred = $.Deferred();
        var data = { teamevalid: {{_id}} };
        {{#id}}
        data.id = {{id}};
        {{/id}}
        data.ordinal = ordinal;
        data.title = $('#question-title-{{uniqid}}').val();
        data.description = $('#question-description-{{uniqid}}').val();
        data.minval = parseInt($('#question-minval-{{uniqid}}').val());
        data.maxval = parseInt($('#question-maxval-{{uniqid}}').val());
        data.meanings = $.map(_meanings, function(v, k) {
            if ((k < data.minval) || (k > data.maxval)) return;
            return {'value': k, 'meaning':v}; 
        });

        // validate data
        var errors = validateData(data);
        if (Object.keys(errors).length > 0) {
            for (var k in errors) {
                $('#question-'+k+'-{{uniqid}}')
                .closest('.control-group').addClass('error').end()
                .next('.help-inline').text(errors[k]);
            }

            deferred.reject();
        } else {
            var promises = ajax.call([{
                methodname: 'teamevalquestion_likert_update_question',
                args: data
            }]);

            // NOTE
            // At the moment, we're requesting the submission context from the server.
            // This is because, quite simply, it's way too complex.
            // At some point in the future we might implement an optimistic render feature,
            // which would require a javascript implementation of the submission context.
            // At the moment, though, the small amount of increased traffic is fine.

            promises[0].done(function(result) {
                data.id = result.id;
                submissionContext = JSON.parse(result.submissionContext);
                deferred.resolve(result, submissionContext, data);
            }).fail(notification.exception);
            
        }

        return deferred;
    });

});
{{/js}}