<div class="teamevalquestion-comment-container" id="teamevalquestion-comment-{{uniqid}}">
<h3>{{title}}</h3>
<div class="description">{{{description}}}</div>
{{#optional}}<div class="optional-advice">{{#str}} optionaladvice, teamevalquestion_comment {{/str}}</div>{{/optional}}
<table class="comments">
{{#users}}
    <tr{{#self}} class="self"{{/self}}>
        <th scope="row">{{name}}</th>
        <td>
            {{#locked}}
            {{comment}}
            {{^comment}}
            <div class="nocomment">
            {{#str}} nocomment, teamevalquestion_comment {{/str}}
            </div>
            {{/comment}}
            {{/locked}}
            {{^locked}}
            <textarea id="teamevalquestion-comment-for-{{userid}}-{{uniqid}}" rows="3" data-touser="{{userid}}">{{comment}}</textarea>
            {{/locked}}
        </td>
    </tr>
{{/users}}
</table>
<div class="incomplete-indicator">{{#str}} incompleteadvice, local_teameval {{/str}}</div>
</div>
{{#js}}
{{#_notset}}<script>{{/_notset}}
{{#incomplete}}
require(['jquery'], function($) {
    var questionContainer = $('#teamevalquestion-comment-{{uniqid}}').closest('.question-container');

    questionContainer.parent().addClass('incomplete');

});
{{/incomplete}}
{{/js}}
